body{
    background: linear-gradient( rgb(207 135 132 / 51%), rgb(90 99 177 / 19%) ), url(background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header{
    margin-top: 21%;
}

h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
}

span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;

    color: #FFFFFF;
}

.logo{
    background-image: url(logo.png);
    background-size: cover;
    background-position: center center;

    width: 260px;
    height: 260px;
}

a{
    font-size: 30px;
    color: aliceblue;
}

@media only screen and (device-width: 411px) {
    .logo {
        position: absolute;
        margin-left: 15%;
    }
    .text-block {
        margin-top: 60%;
    }
}

@media only screen and (device-width: 720px) {
    .logo {
        position: absolute;
        margin-left: 15%;
    }
    .text-block {
        margin-top: 56%;
    }
}

@media only screen and (device-width: 480px) {
    .logo {
        position: absolute;
        margin-left: 17%;
    }
    .text-block {
        margin-top: 56%;
    }
}


@media only screen and (device-width: 360px) {
    .logo {
        position: absolute;
        margin-left: 12%;
    }
    .text-block {
        margin-top: 75%;
    }
}

@media only screen and (device-width: 320px) {
    .logo {
        position: absolute;
        margin-left: 7%;
    }
    .text-block {
        margin-top: 78%;
    }
}

@media only screen and (device-width: 375px) {
    .logo {
        position: absolute;
        margin-left: 12%;
    }
    .text-block {
        margin-top: 73%;
    }
}


@media only screen and (device-width: 768px) {
    .logo {
        position: absolute;
        margin-left: 30%;
    }
    .text-block {
        margin-top: 40%;
    }
}


@media only screen and (device-width: 3072px) {
    h1{
        font-size: 76px;
    }
    span{
        font-size: 38px;
    }

    .logo{
        width: 270px;
        height: 270px;
    }
}